{{ use('yii/bootstrap/Nav') }}
{{ use('yii/bootstrap/NavBar') }}
{{ use('yii/widgets/Breadcrumbs') }}
{{ use('frontend/widgets/Alert') }}
{{ void( appAsset.register(this) ) }}

{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="ru">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>{{ html.encode(this.title) }}</title>
  		{{ this.head() }}
	</head>
	<body>
		{{ this.beginPage() }}
		<div class="container">
			<nav class="row">
				{{ nav_widget({
				    'options': {
				        'class': 'navbar-nav navbar-right',
				    },
				    'items': pages.getMenu(),
				}) }}
			</nav>
		</div>
			{{ content }}
		{{ this.endBody() }}
	</body>
</html>
{{ this.beginBody() }}