<div class="site-index">

    <div class="jumbotron">
        <h1>{{ pages.getContent().h1 }}</h1>
    
    </div>

    <div class="body-content">
       {{ pages.getContent().content }}
    </div>
</div>